<div class="col-lg-6 offset-lg-3">
<div class="card text-center">
  <div class="card-header">
    <h2>{{this.product.name}} </h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Benefits</h5>
    <p class="card-text">{{this.product.details.benefits}}</p>
    <p class="card-text">Shade: <b>{{this.product.details.shade}}</b></p>
    <p class="card-text">Type: <b>{{this.product.details.type}}</b></p>
    <p class="card-text">Volume: <b>{{this.product.details.volume}}</b></p>
  </div>
  <div class="card-footer text-muted">
    <h2>{{this.product.cost}}</h2>
  </div>
</div>
</div>
